.capa {
  width: 100%;
}

.victor-img {
  position: relative;
  bottom: 75%;
}

.victor-link {
  color: white;
}

.victor-link:hover {
  text-decoration: none;
  color: white;
}

.btn-social {
  position: relative;
  bottom: 17%;
  border-width: 5px;
}

.header {
  height: 145px;
}

@media screen and (min-width: 1000px) {
  .who-i-am {
    margin-top: -80px;
  }
}

.profile-icons {
  font-size: 16px;
}

.address-icon {
  font-size: 18px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.footer {
  padding-top: 10px;
  margin-top: -20px;
  position: relative;
  top: 24px;
}

.made {
  padding-left: 10px;
}

.certificates {
  margin-top: 18px;
}

.card-header > .card-link {
  color: white !important;
}

.card-body > .card-link {
  color: #17a2b8;
}

.card-header {
  background-image: linear-gradient(to right, #106675, #17a2b8);
}

.gradient {
  background-image: linear-gradient(#0C1C13, #17a2b8);
}


