.capa {
  width: 100%;
}

.victor-img {
  position: relative;
  bottom: 75%;
}

.victor-link {
  color: white;
}

.victor-link:hover {
  text-decoration: none;
  color: white;
}

.btn-social {
  position: relative;
  bottom: 17%;
  border-width: 5px;
}

.header {
  height: 145px;
}

@media screen and (min-width: 1000px) {
  .who-i-am {
    margin-top: -80px;
  }
}

.profile-icons {
  font-size: 16px;
}

.address-icon {
  font-size: 18px;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.footer {
  padding-top: 10px;
  position: relative;
  top: 24px;
}

.made {
  padding-left: 10px;
}
